#field-container {
    position: relative;

    padding: 0;
    margin: 0;
    width: 70%;
    height: auto;
    align-items: center;
    overflow: hidden;
    background-image: url(../aboba.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}
#field-canvas {
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 10px;

}
#field-container > svg {
    position: relative;
    width: 100%;
    height: auto;
}
.player-container {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.star-wrapper {
    width: 80px !important;
    height: 80px;

}
.line-container {
    width: 100%;

    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}


