#panel-container {
    width: 25%;
    height: 100%;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    horiz-align: center;
    justify-items: center;


}
#panel-container > .star-wrapper {
    width: 80px;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    horiz-align: center;
    justify-items: center;
}
 .star-wrapper > svg {

    width: 80px;
    height: 80px;


}
