html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#root {
    height: 100%;
    width: 100%;
}
#main-container {

    justify-content: space-between;
    display: flex;
    height: 87%;
    width: 100%;

}
.play-page-container {
    height: 100%;
    width: 100%;
}
#account-container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 10%;

}
.logo-acc-container {
    max-height:100%;

    text-align: center;
    display: flex;
    justify-content: flex-start;
    height: auto;


}
.logo-acc-container img {
    max-height:100%;
    max-width:25%;


}

