html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#root {

    height: 97%;
    width: 97%;
}
#mainContainer {
    justify-content: space-between;

    display: flex;
    height: 90%;
    width: 100%;
}